<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abonnement</title>
    <link rel="stylesheet" href="/css/subscription.css">
</head>
<body>
    <div class="subscribe">
        <div class="modal-close close-subscribe">
            <svg class="arrow" viewBox="0 0 24 24" width="80%" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </g>
            </svg>
            <p class="back">Retour à l'accueil</p>
        </div>
        <h1>Abonnement</h1>
        <div class="subscribe-list">
            <div class="basic">
                <h1>Basic</h1>
                <div class="advantage">
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Pas de publicité</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Accès au catalogue en illimité</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>1 écrans en simultané</p>
                        </li>
                        <li>
                            <svg viewBox="0 0 20 20" class="checked" style="fill: #9b9b9b;">
                                <path
                                    d="M11.18 10l4.4-4.41a.83.83 0 00-1.17-1.18L10 8.82 5.59 4.41a.83.83 0 00-1.18 0 .83.83 0 000 1.18L8.82 10l-4.41 4.41a.83.83 0 001.18 1.18L10 11.18l4.41 4.4a.83.83 0 001.18-1.17L11.18 10z">
                                </path>
                            </svg>
                            <p style="color: #9b9b9b;">Téléchargement</p>
                        </li>
                        <li>
                            <svg viewBox="0 0 20 20" class="checked" style="fill: #9b9b9b;">
                                <path
                                    d="M11.18 10l4.4-4.41a.83.83 0 00-1.17-1.18L10 8.82 5.59 4.41a.83.83 0 00-1.18 0 .83.83 0 000 1.18L8.82 10l-4.41 4.41a.83.83 0 001.18 1.18L10 11.18l4.41 4.4a.83.83 0 001.18-1.17L11.18 10z">
                                </path>
                            </svg>
                            <p style="color: #9b9b9b;">Chaine Live</p>
                        </li>
                    </ul>
                    <h1 class="your-subscription" id="your-basic">Votre abonnement</h1>
                </div>
                <div class="price">2.99 €<span> / mois</span></div>
                <button class="btn" id="basic-subscribe">S'abonner</button>
            </div>
            <div class="premium">
                <h1>Premium</h1>
                <div class="advantage">
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Pas de publicité</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Accès au catalogue en illimité</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Jusqu'à 2 écrans en simultané</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Téléchargement de 5 film / mois</p>
                        </li>
                        <li>
                            <svg viewBox="0 0 20 20" class="checked" style="fill: #9b9b9b;">
                                <path
                                    d="M11.18 10l4.4-4.41a.83.83 0 00-1.17-1.18L10 8.82 5.59 4.41a.83.83 0 00-1.18 0 .83.83 0 000 1.18L8.82 10l-4.41 4.41a.83.83 0 001.18 1.18L10 11.18l4.41 4.4a.83.83 0 001.18-1.17L11.18 10z">
                                </path>
                            </svg>
                            <p style="color: #9b9b9b;">Chaine Live</p>
                        </li>
                    </ul>
                    <h1 class="your-subscription" id="your-premium">Votre abonnement</h1>
                </div>
                <div class="price">4.99 €<span> / mois</span></div>
                <button class="btn" id="premium-subscribe">S'abonner</button>
            </div>
            <div class="ultra-premium">
                <h1>Premium +</h1>
                <div class="advantage">
                    <ul>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Pas de publicité</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Accès au catalogue en illimité</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Jusqu'à 4 écrans en simultané</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Téléchargement de 15 film / mois</p>
                        </li>
                        <li>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-t="checkmark-svg"
                                aria-labelledby="checkmark-svg" role="img" class="checked" style="fill: #ffffff;">
                                <title id="checkmark-svg">Checked</title>
                                <path
                                    d="M8.75 15a1.25 1.25 0 01-.88-.37l-3.75-3.75a1.25 1.25 0 011.76-1.76l2.79 2.78 5.37-6.45a1.25 1.25 0 111.92 1.6l-6.25 7.5c-.23.27-.55.43-.9.45h-.06">
                                </path>
                            </svg>
                            <p>Live : RMC Sport / Canal + Sport / UFC</p>
                        </li>
                    </ul>
                    <h1 class="your-subscription" id="your-ultra-premium">Votre abonnement</h1>
                </div>
                <div class="price">6.99 €<span> / mois</span></div>
                <button class="btn" id="ultra-premium-subscribe">S'abonner</button>
            </div>
        </div>
        <p class="account-share">Le partage de compte est autorisé dans la limite du nombre d'écran en simultané maximum</p>
    </div>
    <script src="/javascripts/subscription.js"></script>
</body>
</html>