<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/watch.css">
    <title>Watch</title>
</head>
<body>
    <div id="video-container">
        <!-- Insérer le lecteur vidéo -->
        <video controls autoplay id="videoPlayer">
            Votre navigateur ne prend pas en charge la lecture de vidéos.
        </video>
    </div>
    <div class="blur-background"></div>
    <div class="not-subscribed">
        <div class="text-container">
            <h1>Vous n'êtes pas abonné</h1>
            <p>Vous devez être abonné pour accéder à ce contenu</p>
        </div>
        <div class="crown-svg">
            <svg version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="200px" height="200px" viewBox="0 0 512 512" xml:space="preserve">
                <g>
                    <path style="fill: #ffffff" class="st0"
                        d="M476.406,124.953c-19.656,0-35.625,15.938-35.625,35.594c0,12.516,6.469,23.531,16.234,29.875
                          c-9.266,31.781-27.891,78.031-44.766,87.625c-32.047,18.203-61.094-9.313-47.031-84.703c17.813-1.953,31.688-17.063,31.688-35.391
                          c0-19.672-15.938-35.609-35.609-35.609s-35.609,15.938-35.609,35.609c0,12.141,6.094,22.844,15.375,29.281
                          c-9.5,42.063-23.5,58.859-40.563,56.531c-25.781-3.516-30.5-50.016-30.906-114.938c12.938-5.328,22.016-18.063,22.016-32.906
                          c0-19.672-15.938-35.609-35.609-35.609c-19.656,0-35.594,15.938-35.594,35.609c0,14.844,9.094,27.578,22,32.906
                          C242,193.75,237.297,240.25,211.5,243.766c-17.063,2.328-31.063-14.469-40.547-56.531c9.297-6.438,15.359-17.141,15.359-29.281
                          c0-19.672-15.938-35.609-35.594-35.609c-19.688,0-35.625,15.938-35.625,35.609c0,18.328,13.875,33.438,31.688,35.391
                          c14.063,75.391-14.969,102.906-47,84.703C82.875,268.453,64.266,222.203,55,190.422c9.766-6.344,16.219-17.359,16.219-29.875
                          c0-19.656-15.938-35.594-35.625-35.594C15.953,124.953,0,140.891,0,160.547c0,18.609,14.281,33.859,32.469,35.469l25.734,175.672
                          h395.609l25.719-175.672C497.734,194.406,512,179.156,512,160.547C512,140.891,496.063,124.953,476.406,124.953z" />
                    <polygon style="fill: #ffffff;" class="st0"
                        points="69.922,451.688 256,451.688 442.094,451.688 449.125,403.688 62.891,403.688 	" />
                </g>
            </svg>
        </div>
        <div class="button-container">
            <button class="btn" id="subscribe-btn">S'abonner</button>
        </div>
    </div>
    <script src="/javascripts/watch.js"></script>
</body>
</html>